body {
  font-family: sans-serif;
}

.div-circle {
  border-radius: 50%;
  color: #000;
  background: #fff;
  margin: 0 auto;
  padding: 10px;
  border: solid 1px black;
  width: 30px;
  text-align: center;
  display: inline;
}

#multi {
  border: 1px solid black;
  border-radius: 50%;
}
